flask>=1.0.4
importlib-metadata
nest-asyncio
pandas>=1.2.3
plotly>=5.0.0
requests
retrying
setuptools
typing-extensions>=4.1.1

dash-html-components>=2.0.0
dash_table>=5.0.0
dash-core-components>=2.0.0

dash>=2.5.0
dash-iconify>=0.1.0
requests>=2.27.1
python-frontmatter>=1.0.0
dash-mantine-components>=0.14.7
pydantic>=2.3.0
gunicorn>=21.2.0
markdown2dash
